<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<label for="txtMessageContent"></label><input type="text" name="" id="txtMessageContent">
<a href="javascript:" onclick="fnSendMessage(txtMessageContent.value)">send message to server</a>
</body>
<script>
    let socket = new WebSocket("ws://127.0.0.1:8049/ws");

    let setSendBody = (businessType, content) => {
        return JSON.stringify({
            business_type: businessType,
            content,
        });
    };

    socket.addEventListener("open", e => {
        console.log(`[websocket-debug] [连接成功]`);
    });

    socket.addEventListener("message", e => {
        let resData = JSON.parse(e.data);
        console.log("[client] received message from server: ", resData);

        switch (resData['business_type']) {
            case 'connection-success':
                localStorage.setItem('websocketUuid', resData.content.uuid);
                console.log(localStorage.getItem('websocketUuid'));
                break;
        }
    });

    let fnSendMessage = content => {
        if (content) {
            socket.send(setSendBody("test", "", content));
        }
    }

    setInterval(
        () => {
            socket.send(setSendBody("ping", {content: {time: new Date().getTime()}}));
        },
        5000);
</script>

</html>